.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}

.blog-content-container {
  margin: 0 auto;
  max-width: 740px;

  & > * {
    > h5 {
      font-weight: 400;
      color: $primary-color;
    }
  }
  & > * > * > * {
    > h5 {
      color: $primary-color;
      font-weight: 400;
    }
  }
}
